<!doctype html>
<html lang="en">
    <head>
        {% render "shared/head", metadata: site.metadata, title: page.title %}
    </head>
    <body class="{{ page.layout }} {{ page.page_class }}" data-controller="toggle">
        <div class="bg-secondary pb-32">
            <nav class="bg-secondary">
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                    <div class="border-b border-gray-50">
                        <div class="flex items-center justify-between h-16 px-4 sm:px-0">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <img class="h-8 w-8" src="/assets/images/logo/Logo_White.png" alt="Workflow logo">
                                </div>
                                <div class="hidden md:block">
                                    <div class="ml-10 flex items-baseline">
                                        {% for item in site.data.navigation.main %}
                                            {% render "shared/navigation/navs", mobile: false, url: item.link, name: item.name, page_url: page.url, first: item.first, type: item.type, dropdown: item.dropdown, dropdown_in: item.in, video: site.data.navigation.video %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="hidden md:block">
                                <div class="flex-1 flex items-center justify-center lg:ml-6 lg:justify-end">
                                    <div class="max-w-lg w-full lg:max-w-xs">
                                        <label for="search" class="sr-only">Search</label>
                                        <div class="relative">
                                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                                <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                            {% render "bridgetown_quick_search/search", placeholder: "Search", input_class: "block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 sm:text-sm transition duration-150 ease-in-out" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="-mr-2 flex md:hidden">
                                <button data-action="click->toggle#toggle touch->toggle#toggle" data-toggle-target="mobile-menu,close-icon,nav-icon" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white">
                                    <!-- Menu open: "hidden", Menu closed: "block" -->
                                    <svg data-toggle-name="close-icon" class="block h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                                    </svg>
                                    <!-- Menu open: "block", Menu closed: "hidden" -->
                                    <svg data-toggle-name="nav-icon" class="hidden block h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-toggle-name="mobile-menu" class="hidden border-b border-gray-700 md:hidden">
                    <div class="px-2 py-3 sm:px-3">
                        {% for item in site.data.navigation.mobile.top %}
                            {% render "shared/navigation/navs", mobile: true, top: true, url: item.link, name: item.name, page_url: page.url %}
                        {% endfor %}
                    </div>
                    <div class="pt-4 pb-3 border-t border-gray-700">
                        <div class="mt-3 px-2" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                            <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" role="menuitem">Your Profile</a>
                            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" role="menuitem">Settings</a>
                            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" role="menuitem">Sign out</a>
                        </div>
                    </div>
                </div>
            </nav>
            
            {% render "shared/navigation/docs_panel", ruby_gems: site.data.navigation.docs.ruby_gems, salesforce: site.data.navigation.docs.salesforce %}
            
            <header class="py-10">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <h1 class="text-3xl leading-9 font-bold text-white">
                        Dashboard
                    </h1>
                </div>
            </header>
        </div>

        <main class="-mt-32">
            <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
                {{ content }}
            </div>
        </main>

        {% render "shared/footer", metadata: site.metadata %}
    </body>
</html>
