---
name: Schedule Card
description: The schedule card item
variables:
    day:
        - string
        - day of the week name
    time:
        - string
        - start time
    moreve:
        - string
        - Options are Evening, Morning or Afternoon
---

<li class="col-span-1 bg-primary transition-transform duration-300 ease-in-out transform bg-primary rounded-lg shadow sm:shadow-md md:shadow-lg hover:-translate-y-2 hover:shadow-xl">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
        <div class="flex-1 truncate">
            <div class="flex items-center">
                <h3 class="text-gray-100 text-sm leading-5 font-medium truncate">{{ day }}</h3>
            </div>
            <p class="mt-1 text-white text-sm leading-5 truncate">
                {% if time != "" and moreve != "" %}
                    {{ moreve }} - {{ time }} EST
                {% else %}
                    Day Off
                {% endif %}                
            </p>
        </div>
        <svg class="w-10 h-10 rounded-full flex-shrink-0 text-white" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
        </svg>
    </div>
</li>