---
name: Video Panel
description: The video navigation bar
variables:
    metadata:
        - data
        - metadata for the site
    video:
        - data
        - The navigation links
---

<div data-toggle-name="video_panel-menu" class="hidden absolute left-1/2 transform -translate-x-1/2 mt-3 px-2 w-screen max-w-xs sm:px-0">
    <div class="rounded-lg shadow-lg">
        <div class="rounded-lg shadow-xs overflow-hidden">
            <div class="z-20 relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                {% for item in video %}
                    <a href="{{ item.link }}" class="-m-3 p-3 block space-y-1 rounded-md hover:bg-gray-50 transition ease-in-out duration-150">
                        <p class="text-base leading-6 font-medium text-gray-900">
                            {{ item.name }}
                        </p>
                        <p class="text-sm leading-5 text-gray-500">
                            {{ item.description }}
                        </p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>